body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table {
  margin-right: 0px;
}
.pagination{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.page-item{
  margin: 5px;
  border: 2px solid;
  padding: 3px;
}
